# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# VS Code
.vscode/

# Database
*.db
*.sqlite3